@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Your Custom CSS Here */

.prose img {
  border-radius: 30px;
}

#sun {
  transform: translate3d(0, 0px, 0);
}

#moon {
  transform: translate3d(0, 0px, 0);
}

#darkToggle:hover #sun {
  transform: translate3d(0, 10px, 0);
}

#darkToggle:hover #moon {
  transform: translate3d(0, 10px, 0);
}

html.dark #darkToggle:hover .horizon {
  border-color: #718096 !important;
}

.horizon .setting {
  animation: 1s ease 0s 1 setting;
}

.horizon .rising {
  animation: 1s ease 0s 1 rising;
}

@keyframes setting {
  0% {
    transform: translate3d(0, 10px, 0)
  }

  40% {
    transform: translate3d(0, -2px, 0)
  }

  to {
    transform: translate3d(0, 30px, 0)
  }
}

@keyframes rising {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0)
  }

  40% {
    opacity: 1;
    transform: translate3d(0, -2px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 10, 0)
  }

}

.menu-item.active {
  color: #000000;
  font-weight: bold;
}

.dark .menu-item.active {
  color: #ffffff;
  font-weight: bold;
}

.card-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  border: 1px dashed #333;
  box-sizing: border-box;
  padding: 15px;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.card-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: height 0.3s ease;
  z-index: 10;
  border-radius: 8px;
  white-space: normal;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3px;
  padding-left: 15px;
}

.card-info h3 {
  font-size: 1.2rem !important;
}

.card-container:hover .card-info {
  height: 92.4%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.card-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card-info p {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}

.card-container:hover .card-info p {
  opacity: 1;
}

.card-container:hover {
  border: 1px dashed #ddd;
  transition: border 0.3s ease-in-out;
}

/* Ajustes generales */
.splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Ajustes generales para el carrusel */
.splide__list {
  display: flex;
  justify-content: flex-start;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 640px) {
  .splide__slide {
    padding: 0.5rem;
  }
  
  .splide__list {
    display: flex;
    justify-content: center;
  }
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
  .splide__slide {
    padding: 0.75rem;
  }
}

/* Paginación */
.splide__pagination__page {
  background-color: gray;
}

.splide__pagination__page.is-active {
  background-color: black;
}

.dark .splide__pagination__page {
  background-color: lightgray;
}

.dark .splide__pagination__page.is-active {
  background-color: white;
}

/* Estilos activos del menú */
.menu-item.active {
  color: #000000;
  font-weight: bold;
}

.dark .menu-item.active {
  color: #ffffff;
  font-weight: bold;
}
