---
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Layout from "../layouts/main.astro";
import RedirecButton from "../components/redirecButton.astro";
import Skills from "../components/skills.astro";
import EmailDisplay from "../components/emailDisplay.astro";
import Certificate from "../components/home/certificate.astro";
import skills from "../collections/hardSkills.json";

---

<Layout title="Anto">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Hola
        </h1>
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Soy Antonio.
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          Soy un desarrollador Back-End que disfruta transformar desaf铆os en
          soluciones reales. No se trata solo de escribir c贸digo, sino de crear
          sistemas que puedan crecer y adaptarse en el tiempo. <br
            class="hidden lg:block"
          />Al final del d铆a, lo que m谩s me motiva es ver c贸mo una idea se
          convierte en algo real y funcional, con cada l铆nea de c贸digo
          cumpliendo su prop贸sito.
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          Mis habilidades principales son:
        </p>
        <ul
          class="py-2 space-y-2 text-sm text-neutral-700 dark:text-neutral-300 list-none"
        >
          <li class="flex items-center">
            <svg
              class="w-4 h-4 text-blue-500 mr-2"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.372 0 0 5.373 0 12c0 5.406 3.438 9.938 8.202 11.493.6.112.82-.264.82-.586 0-.29-.01-1.056-.015-2.073-3.338.726-4.042-1.609-4.042-1.609-.545-1.385-1.333-1.753-1.333-1.753-1.089-.745.082-.73.082-.73 1.205.084 1.839 1.236 1.839 1.236 1.07 1.834 2.805 1.303 3.492.997.109-.775.419-1.303.762-1.603-2.665-.304-5.466-1.334-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.535-1.525.117-3.177 0 0 1.007-.322 3.3 1.231a11.525 11.525 0 0 1 6 0c2.292-1.553 3.297-1.231 3.297-1.231.653 1.653.242 2.875.118 3.177.77.839 1.236 1.911 1.236 3.221 0 4.61-2.806 5.624-5.477 5.921.431.371.814 1.1.814 2.215 0 1.6-.014 2.892-.014 3.285 0 .325.217.704.826.585C20.565 21.937 24 17.405 24 12c0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            <span>Lenguajes: <strong>Java, SQL</strong></span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-4 h-4 text-green-500 mr-2"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.372 0 0 5.373 0 12c0 5.406 3.438 9.938 8.202 11.493.6.112.82-.264.82-.586 0-.29-.01-1.056-.015-2.073-3.338.726-4.042-1.609-4.042-1.609-.545-1.385-1.333-1.753-1.333-1.753-1.089-.745.082-.73.082-.73 1.205.084 1.839 1.236 1.839 1.236 1.07 1.834 2.805 1.303 3.492.997.109-.775.419-1.303.762-1.603-2.665-.304-5.466-1.334-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.535-1.525.117-3.177 0 0 1.007-.322 3.3 1.231a11.525 11.525 0 0 1 6 0c2.292-1.553 3.297-1.231 3.297-1.231.653 1.653.242 2.875.118 3.177.77.839 1.236 1.911 1.236 3.221 0 4.61-2.806 5.624-5.477 5.921.431.371.814 1.1.814 2.215 0 1.6-.014 2.892-.014 3.285 0 .325.217.704.826.585C20.565 21.937 24 17.405 24 12c0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            <span>Ecosistema Spring: <strong>Spring Boot, Spring Cloud</strong></span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-4 h-4 text-red-500 mr-2"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.372 0 0 5.373 0 12c0 5.406 3.438 9.938 8.202 11.493.6.112.82-.264.82-.586 0-.29-.01-1.056-.015-2.073-3.338.726-4.042-1.609-4.042-1.609-.545-1.385-1.333-1.753-1.333-1.753-1.089-.745.082-.73.082-.73 1.205.084 1.839 1.236 1.839 1.236 1.07 1.834 2.805 1.303 3.492.997.109-.775.419-1.303.762-1.603-2.665-.304-5.466-1.334-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.535-1.525.117-3.177 0 0 1.007-.322 3.3 1.231a11.525 11.525 0 0 1 6 0c2.292-1.553 3.297-1.231 3.297-1.231.653 1.653.242 2.875.118 3.177.77.839 1.236 1.911 1.236 3.221 0 4.61-2.806 5.624-5.477 5.921.431.371.814 1.1.814 2.215 0 1.6-.014 2.892-.014 3.285 0 .325.217.704.826.585C20.565 21.937 24 17.405 24 12c0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            <span>Seguridad: <strong>Spring Security, JWT</strong></span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-4 h-4 text-yellow-500 mr-2"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.372 0 0 5.373 0 12c0 5.406 3.438 9.938 8.202 11.493.6.112.82-.264.82-.586 0-.29-.01-1.056-.015-2.073-3.338.726-4.042-1.609-4.042-1.609-.545-1.385-1.333-1.753-1.333-1.753-1.089-.745.082-.73.082-.73 1.205.084 1.839 1.236 1.839 1.236 1.07 1.834 2.805 1.303 3.492.997.109-.775.419-1.303.762-1.603-2.665-.304-5.466-1.334-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.535-1.525.117-3.177 0 0 1.007-.322 3.3 1.231a11.525 11.525 0 0 1 6 0c2.292-1.553 3.297-1.231 3.297-1.231.653 1.653.242 2.875.118 3.177.77.839 1.236 1.911 1.236 3.221 0 4.61-2.806 5.624-5.477 5.921.431.371.814 1.1.814 2.215 0 1.6-.014 2.892-.014 3.285 0 .325.217.704.826.585C20.565 21.937 24 17.405 24 12c0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            <span>Bases de Datos: <strong>PostgreSQL</strong></span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-4 h-4 text-purple-500 mr-2"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.372 0 0 5.373 0 12c0 5.406 3.438 9.938 8.202 11.493.6.112.82-.264.82-.586 0-.29-.01-1.056-.015-2.073-3.338.726-4.042-1.609-4.042-1.609-.545-1.385-1.333-1.753-1.333-1.753-1.089-.745.082-.73.082-.73 1.205.084 1.839 1.236 1.839 1.236 1.07 1.834 2.805 1.303 3.492.997.109-.775.419-1.303.762-1.603-2.665-.304-5.466-1.334-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.535-1.525.117-3.177 0 0 1.007-.322 3.3 1.231a11.525 11.525 0 0 1 6 0c2.292-1.553 3.297-1.231 3.297-1.231.653 1.653.242 2.875.118 3.177.77.839 1.236 1.911 1.236 3.221 0 4.61-2.806 5.624-5.477 5.921.431.371.814 1.1.814 2.215 0 1.6-.014 2.892-.014 3.285 0 .325.217.704.826.585C20.565 21.937 24 17.405 24 12c0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            <span>Herramientas DevOps: <strong>Docker</strong></span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-4 h-4 text-orange-500 mr-2"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.372 0 0 5.373 0 12c0 5.406 3.438 9.938 8.202 11.493.6.112.82-.264.82-.586 0-.29-.01-1.056-.015-2.073-3.338.726-4.042-1.609-4.042-1.609-.545-1.385-1.333-1.753-1.333-1.753-1.089-.745.082-.73.082-.73 1.205.084 1.839 1.236 1.839 1.236 1.07 1.834 2.805 1.303 3.492.997.109-.775.419-1.303.762-1.603-2.665-.304-5.466-1.334-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.535-1.525.117-3.177 0 0 1.007-.322 3.3 1.231a11.525 11.525 0 0 1 6 0c2.292-1.553 3.297-1.231 3.297-1.231.653 1.653.242 2.875.118 3.177.77.839 1.236 1.911 1.236 3.221 0 4.61-2.806 5.624-5.477 5.921.431.371.814 1.1.814 2.215 0 1.6-.014 2.892-.014 3.285 0 .325.217.704.826.585C20.565 21.937 24 17.405 24 12c0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            <span>Version Control: <strong>Git, GitHub</strong></span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-4 h-4 text-teal-500 mr-2"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.372 0 0 5.373 0 12c0 5.406 3.438 9.938 8.202 11.493.6.112.82-.264.82-.586 0-.29-.01-1.056-.015-2.073-3.338.726-4.042-1.609-4.042-1.609-.545-1.385-1.333-1.753-1.333-1.753-1.089-.745.082-.73.082-.73 1.205.084 1.839 1.236 1.839 1.236 1.07 1.834 2.805 1.303 3.492.997.109-.775.419-1.303.762-1.603-2.665-.304-5.466-1.334-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.535-1.525.117-3.177 0 0 1.007-.322 3.3 1.231a11.525 11.525 0 0 1 6 0c2.292-1.553 3.297-1.231 3.297-1.231.653 1.653.242 2.875.118 3.177.77.839 1.236 1.911 1.236 3.221 0 4.61-2.806 5.624-5.477 5.921.431.371.814 1.1.814 2.215 0 1.6-.014 2.892-.014 3.285 0 .325.217.704.826.585C20.565 21.937 24 17.405 24 12c0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            <span>Documentaci贸n: <strong>Swagger</strong></span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-4 h-4 text-pink-500 mr-2"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0C5.372 0 0 5.373 0 12c0 5.406 3.438 9.938 8.202 11.493.6.112.82-.264.82-.586 0-.29-.01-1.056-.015-2.073-3.338.726-4.042-1.609-4.042-1.609-.545-1.385-1.333-1.753-1.333-1.753-1.089-.745.082-.73.082-.73 1.205.084 1.839 1.236 1.839 1.236 1.07 1.834 2.805 1.303 3.492.997.109-.775.419-1.303.762-1.603-2.665-.304-5.466-1.334-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.535-1.525.117-3.177 0 0 1.007-.322 3.3 1.231a11.525 11.525 0 0 1 6 0c2.292-1.553 3.297-1.231 3.297-1.231.653 1.653.242 2.875.118 3.177.77.839 1.236 1.911 1.236 3.221 0 4.61-2.806 5.624-5.477 5.921.431.371.814 1.1.814 2.215 0 1.6-.014 2.892-.014 3.285 0 .325.217.704.826.585C20.565 21.937 24 17.405 24 12c0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            <span
              >Pr谩cticas de desarrollo: <strong>SOLID, Clean Code</strong
              ></span
            >
          </li>
        </ul>
        <RedirecButton text="Mi CV" link="/Antonio Canteros.pdf" />
        <RedirecButton text="Mis Proyectos" link="/projects" />

        <div class="flex space-x-4 mt-11 items-center">
          <a
            href="https://www.linkedin.com/in/antonio-canteros/"
            target="_blank"
            class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
            style="vertical-align: middle;"
          >
            <span class="sr-only">LinkedIn</span>
            <svg
              class="w-8 h-8"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                d="M20.447 20.452H16.88v-5.568c0-1.328-.027-3.036-1.849-3.036-1.85 0-2.133 1.444-2.133 2.937v5.667h-3.568V9h3.422v1.561h.049c.476-.9 1.637-1.849 3.37-1.849 3.603 0 4.267 2.368 4.267 5.452v6.728zM5.337 7.433a2.073 2.073 0 110-4.146 2.073 2.073 0 010 4.146zm1.784 13.019H3.554V9h3.567v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.226.792 24 1.771 24h20.451C23.2 24 24 23.226 24 22.271V1.729C24 .774 23.2 0 22.225 0z"
              ></path>
            </svg>
          </a>

          <a
            href="https://github.com/AntoCant"
            target="_blank"
            class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
            style="vertical-align: middle;"
          >
            <span class="sr-only">GitHub</span>
            <svg
              class="w-10 h-10"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>

        <EmailDisplay email="antonio.canteros.alberto@gmail.com" />
      </div>
      <div
        class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
      >
        <div class="relative z-50 w-full">
          <div
            class="absolute bottom-0 z-40 w-16 h-16 -translate-x-6 -translate-y-1/2 lg:top-auto top-0 lg:-translate-y-[330px] rounded-full"
          >
            <span
              class="relative z-20 flex items-center justify-center w-full h-full text-2xl border-8 border-white rounded-full dark:border-neutral-950 bg-neutral-100 dark:bg-neutral-900"
            >
              <span
                class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
                ></span
              >
            </span>
          </div>
          <div class="relative z-30 px-10">
            <img
              src="/assets/images/photo.png"
              loading="eager"
              decoding="auto"
              class="relative z-30 w-full aspect-[790/1189] md:max-w-md mx-auto dark:-translate-y-0.5"
            />
          </div>
          <div
            class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[420px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r dark:from-neutral-950 dark:via-black dark:to-neutral-950 from-white via-neutral-50 to-white border-neutral-300 dark:border-neutral-700"
          >
          </div>
        </div>
      </div>
    </div>
  </div>

  <Separator text="Skills" />
  <Skills skills={skills.skills} title={skills.title} description={skills.description}/>
  <Separator text="Mis proyectos" />
  <Projects />
  <Separator text="Mis Certificados" />
  <Certificate />
  
</Layout>
