---
import projects from "../../collections/projects.json";
import Button from "../button.astro";
import Project from "../project.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2 class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100">
    Proyectos
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Aca presento una vista rapida de mis trabajos mas relevantes, siempre busco
    desafios nuevos por eso ¡Te invito a ver algunos de ellos!
  </p>

  <div id="splide" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {
          projects.map((project) => {
            return (
              <li class="splide__slide">
                <Project
                  name={project.name}
                  description={project.description}
                  image={project.image}
                  url={project.url}
                />
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="Ver más" link="/projects" />
  </div>
</section>

<script>
  declare var Splide: any;
  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#splide", {
      type: "loop",
      perPage: 3, // Mostrar un elemento a la vez en móviles
      perMove: 1, // Mover un elemento a la vez
      gap: "1rem", // Espacio entre elementos
      autoplay: false, // Desactivar el autoplay
      breakpoints: {
        640: {
          perPage: 1,
          gap: "0.5rem", // Ajustar espacio en pantallas pequeñas
        },
        768: {
          perPage: 1,
          gap: "0.75rem", // Ajustar espacio en pantallas medianas
        },
      },
    }).mount();
  });
</script>


