<div id="splide" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="/assets/images/about.jpg" alt="Imagen 1" />
      </li>
      <li class="splide__slide">
        <img src="/assets/images/about.jpg" alt="Imagen 2" />
      </li>
      <li class="splide__slide">
        <img src="/assets/images/about.jpg" alt="Imagen 3" />
      </li>
    </ul>
  </div>
</div>

<script>
  declare var Splide: any;

  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#splide", {
      type: "loop",
      perPage: 1,
      autoplay: false,
      speed: 1000,
      pauseOnHover: true,
    }).mount();
  });
</script>
