---
import features from "../collections/features.json";
---

<ul class="mt-10 list-disc list-inside text-neutral-600 dark:text-neutral-400">
    {features.map((feature) => (
      <li style="margin-bottom: 10px;"> <!-- Ajusta el valor según tus necesidades -->
        <strong>{feature.title}:</strong> {feature.description}
      </li>
    ))}
  </ul>