---
import Logo from "../components/logo.astro";
---

<section
  class="text-gray-700 bg-white border-t sm:mt-20 dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800"
>
  <div
    class="container flex flex-col sm:flex-row items-center justify-between py-8 mx-auto px-7 max-w-7xl"
  >
    <div class="flex items-center space-x-4">
      <Logo />
      <p
        class="text-sm text-neutral-700 dark:text-neutral-100 sm:border-l sm:border-neutral-300 dark:sm:border-neutral-700 sm:pl-4"
      >
        © {new Date().getFullYear()} Anto
      </p>
    </div>

    <div class="flex space-x-4 items-center mt-4 sm:mt-0">
      <a
        href="https://www.linkedin.com/in/antonio-canteros/"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
        style="vertical-align: middle;"
      >
        <span class="sr-only">LinkedIn</span>
        <svg
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M20.447 20.452H16.88v-5.568c0-1.328-.027-3.036-1.849-3.036-1.85 0-2.133 1.444-2.133 2.937v5.667h-3.568V9h3.422v1.561h.049c.476-.9 1.637-1.849 3.37-1.849 3.603 0 4.267 2.368 4.267 5.452v6.728zM5.337 7.433a2.073 2.073 0 110-4.146 2.073 2.073 0 010 4.146zm1.784 13.019H3.554V9h3.567v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.226.792 24 1.771 24h20.451C23.2 24 24 23.226 24 22.271V1.729C24 .774 23.2 0 22.225 0z"
          />
        </svg>
      </a>

      <a
        href="https://github.com/AntoCant"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
        style="vertical-align: middle;"
      >
        <span class="sr-only">GitHub</span>
        <svg
          class="w-8 h-8"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      
      <a
        href="mailto:antonio.canteros.alberto@gmail.com"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">Email</span>
        <svg
          class="w-8 h-8"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M20.25 4.5H3.75C2.784 4.5 2 5.284 2 6.25v11.5C2 18.716 2.784 19.5 3.75 19.5h16.5c.966 0 1.75-.784 1.75-1.75V6.25c0-.966-.784-1.75-1.75-1.75zm-.225 1.5L12 12.075 3.975 6h16.05zM20.5 17.75a.25.25 0 01-.25.25H3.75a.25.25 0 01-.25-.25V7.075L12 13.325l8.5-6.25V17.75z"
          />
        </svg>
      </a>
    </div>
  </div>
</section>


