---
import hardSkills from "../collections/hardSkills.json";
---

<section class="relative z-20 max-w-4xl mx-auto my-12 px-7 lg:px-0">
  <h2 class="text-2xl font-bold mb-4 text-black dark:text-white">
    Skills mas usadas en mis proyectos
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    A lo largo de mi camino, he explorado y aprendido de diversas Skills
    que han sido clave en mis proyectos. Me encanta seguir perfeccionando mis
    habilidades y asumir nuevos desafíos que me permitan seguir creciendo como
    desarrollador.
  </p>
  <ul class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-6">
    {
      hardSkills.map((skill) => (
        <li class="flex flex-col items-center justify-between text-center p-4 bg-transparent rounded-lg border border-dashed border-neutral-500 dark:border-neutral-700 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
          <div class="flex items-center justify-center w-24 h-16 overflow-hidden rounded-lg">
            <img
              src={skill.icon}
              alt={skill.name}
              class="w-full h-auto object-contain"
            />
          </div>
          <p class="mt-4 text-sm font-medium text-black dark:text-white">
            {skill.name}
          </p>
        </li>
      ))
    }
  </ul>
</section>
