---
import privateSkills from "../collections/privateSkills.json";
---

<section class="relative z-20 max-w-4xl mx-auto my-12 px-7 lg:px-0">
  <h2 class="text-2xl font-bold mb-4 text-black dark:text-white">
    Principales Tecnologías Utilizadas
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Este proyecto integra una variedad de tecnologías para asegurar un
    desarrollo ágil y eficiente. El backend está desarrollado en Java con Spring
    Boot, mientras que Spring Cloud se encarga de gestionar la comunicación y
    configuración de los microservicios. La seguridad se implementa con Spring
    Security y OAuth2, utilizando JWT para la autenticación y gestión de roles.
    PostgreSQL se utiliza como base de datos principal, garantizando un manejo
    robusto y eficiente de la información.
  </p>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Además, Docker facilita la creación de entornos consistentes para el
    desarrollo y producción, y Jenkins se emplea para automatizar los procesos
    de integración y despliegue continuo, asegurando que las nuevas
    funcionalidades se implementen de manera fluida y segura.
  </p>
  <ul class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-6">
    {
      privateSkills.map((skill) => (
        <li class="flex flex-col items-center justify-between text-center p-4 bg-transparent rounded-lg border border-dashed border-neutral-500 dark:border-neutral-700 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
          <div class="flex items-center justify-center w-24 h-16 overflow-hidden rounded-lg">
            <img
              src={skill.icon}
              alt={skill.name}
              class="w-full h-auto object-contain"
            />
          </div>
          <p class="mt-4 text-sm font-medium text-black dark:text-white">
            {skill.name}
          </p>
        </li>
      ))
    }
  </ul>
</section>
