---
import Layout from "../../layouts/main.astro";
import Carrucel from "../../components/carousel.astro";
import SeparatorGeneric from "../../components/separatorGeneric.astro";
import ParagraphMenuPorfolio from "../../components/paragraphMenuPorfolio.astro";
import Skills from "../../components/skills.astro";
import skills from "../../collections/porfolioSkills.json";
import RedirecButton from "../../components/redirecButton.astro";
---

<Layout title="Mi Portafolio">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <h1
      class="text-4xl font-bold leading-tight text-neutral-900 dark:text-neutral-100"
    >
      Mi Portafolio
    </h1>

    <p class="mt-8 text-base text-neutral-600 dark:text-neutral-400">
      Este portafolio fue desarrollado para mostrar mis proyectos y habilidades
      en desarrollo Back-End, utilizando una plantilla de Astro personalizada y
      desplegado en mi VPS personal con Docker y Nginx.
    </p>

    <SeparatorGeneric text="Galería de Imágenes" />
    <Carrucel />
    <SeparatorGeneric text="Principales Características" />
    <ParagraphMenuPorfolio />
    <SeparatorGeneric text="Tecnologías Usadas" />
    <Skills
      skills={skills.skills}
      title={skills.title}
      description={skills.description}
    />
    <SeparatorGeneric text="Concluciones y aprendisaje" />

    <h2
      class="mt-8 text-2xl font-semibold leading-8 text-neutral-800 dark:text-neutral-200"
    >
      Concluciones
    </h2>
    <p class="mt-4 text-base text-neutral-600 dark:text-neutral-400">
      Finalmente, una de las lecciones más valiosas que me dejó este proyecto
      fue la importancia de realizar pruebas continuas y ajustes constantes para
      asegurar que cada nueva funcionalidad no solo funcione bien, sino que
      también esté optimizada en términos de rendimiento y diseño. Al ser mi
      especialización el backend, enfrentar estos retos en el front-end fue un
      desafío significativo, pero me permitió adquirir nuevas habilidades que no
      solo mejoraron mi capacidad técnica, sino que también ampliaron mi visión
      sobre el ciclo completo de un proyecto.
    </p>
    <p class="mt-4 text-base text-neutral-600 dark:text-neutral-400">
      Esta experiencia me enseñó a tener una perspectiva más global, desde la
      estructura del backend hasta el impacto en la experiencia del usuario en
      el front. Ahora, me siento más preparado para abordar proyectos de manera
      integral, asegurando que cada detalle, tanto técnico como visual, funcione
      en armonía y entregue el mejor resultado posible.
    </p>

    <SeparatorGeneric text="codigo" />
    <h2
      class="mt-8 text-2xl font-semibold leading-8 text-neutral-800 dark:text-neutral-200"
    >
      Explora el Código
    </h2>
    <p class="mt-4 text-base text-neutral-600 dark:text-neutral-400">
      Si tienes curiosidad por ver cómo está construido este portafolio, te
      invito a visitar el repositorio en mi GitHub. ¡Siéntete libre de
      explorarlo y compartir tus comentarios!
    </p>
    <RedirecButton
      text="Ver Código"
      link="https://github.com/AntoCant/porfolio"
    />
  </section>
</Layout>
<script src="/src/assets/js/main.js"></script>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    (window as any).loadDynamicContent(
      "/src/collections/contentMapPorfolio.json",
    );
  });
</script>
